<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated atividadeJava -->
      <package
            uri="http://www.example.org/atividadeJava"
            class="atividadeJava.AtividadeJavaPackage"
            genModel="model/atividadeJava.genmodel"/>
   </extension>

</plugin>
